<div *ngIf="isDataLoaded">
    <mat-card>
        <form (ngSubmit)="onSubmit()" [formGroup]="bookForm" #formDir="ngForm">
            <mat-card-content class="form-input-container">
                <mat-form-field>
                    <mat-label>Domaine</mat-label>
                    <mat-select formControlName="domain" required>
                        <mat-option *ngFor="let d of domains" [value]="d.id">{{d.name}}</mat-option>
                    </mat-select>
                    <!-- error message -->
                    <mat-error  *ngIf="domain != null && domain.invalid && (domain.dirty || domain.touched)">
                        <span *ngIf="domain.errors?.['required']">Le domaine est requis.</span>
                    </mat-error>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Autheur</mat-label>
                    <mat-select formControlName="author" required>
                        <mat-option *ngFor="let a of authors" [value]="a.id">{{a.firstname}} {{a.lastname}}</mat-option>
                    </mat-select>
                    <!-- error message -->
                    <mat-error  *ngIf="author != null && author.invalid && (author.dirty || author.touched)">
                        <span *ngIf="author.errors?.['required']">Le domaine est requis.</span>
                    </mat-error>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Titre</mat-label>
                    <input matInput formControlName="title" required>
                    <!-- error message -->
                    <mat-error  *ngIf="title != null && title.invalid && (title.dirty || title.touched)">
                        <span *ngIf="title.errors?.['required']">Le titre est requis.</span>
                        <span *ngIf="title.errors?.['minlength']">
                            le titre doit contenir au moins 2 caractères.
                        </span>
                    </mat-error>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Nombre de page</mat-label>
                    <input matInput formControlName="nbpages" required>
                    <!-- error message -->
                    <mat-error  *ngIf="nbpages != null && nbpages.invalid && (nbpages.dirty || nbpages.touched)">
                        <span *ngIf="nbpages.errors?.['required']">Le nombre de page est requis.</span>
                    </mat-error>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>description</mat-label>
                    <textarea matInput formControlName="description"></textarea>
                </mat-form-field>
            </mat-card-content>
            
            <mat-divider></mat-divider>

            <mat-card-actions class="card-actions">
                <button mat-raised-button type="submit" color="primary" [disabled]="bookForm.invalid">Valider</button>
            </mat-card-actions>
        </form>
    </mat-card>
</div>