<div *ngIf="isDataLoaded">
    <app-title-page title="Liste des lecteurs" [hasAddBtn]="true" linkBtn="/users/add"></app-title-page>
    <!-- Error card component -->
    <app-error-card *ngIf="hasError"></app-error-card>
    <div *ngIf="users && users.length > 0; else noResult">
        <!-- Search Component -->
        <app-search (newSearchEvent)="searchUser($event)"></app-search>

        <mat-card>
            <mat-list role="list">
                <mat-list-item role="listitem" *ngFor="let u of users | search: searchText">
                    <div *ngIf="u.noresult; else hasResult">{{u.noresult}}</div>
                    <ng-template #hasResult>
                        <div class="list-item">
                            <span>
                                {{u.firstname}} {{u.lastname}}
                                <div class="subtitle">{{u.email}} | {{u.phone}}</div>
                            </span>
                            
                            <div class="list-items-right">
                                <a mat-icon-button color="primary" routerLink="/users/view/{{u.id}}"><mat-icon>remove_red_eye</mat-icon></a>
                                <a mat-icon-button color="accent" routerLink="/users/edit/{{u.id}}"><mat-icon>edit</mat-icon></a>
                                <a mat-icon-button color="warn" (click)="openDialog(u)"><mat-icon>delete</mat-icon></a>
                            </div>
                        </div>
                    </ng-template>
                </mat-list-item>
            </mat-list>
        </mat-card>
    </div>
    <ng-template #noResult>
        <app-empty-result-card link="/users/add"></app-empty-result-card>
    </ng-template>
</div>