<div *ngIf="isDataloaded">
    <!-- Title page component -->
    <app-title-page title="Domaine: {{domain.name}}"></app-title-page>

    <!-- Domain View-->
    <mat-card>
        <mat-card-header>
            <mat-card-title>{{domain.name}}</mat-card-title>
        </mat-card-header>

        <mat-card-content class="card-content">
            <p>{{domain.description}}</p>
        </mat-card-content>

        <mat-divider></mat-divider>

        <mat-card-actions align="end" class="card-actions">  
            <a mat-raised-button color="primary" routerLink="/domains/edit/{{domain.id}}">Editer</a>
        </mat-card-actions>
    </mat-card>

    <!-- Title page component -->
    <app-title-page title="Liste des livres du domaine"></app-title-page>

    <!-- Book list component-->
    <app-book-list  [books]="domainBooks" addLink="/domains/add"></app-book-list>

</div>