<div *ngIf="isDataLoaded">
    <!-- Title page component -->
    <app-title-page title="Emprunt: {{rental.book.title}} - {{rental.lector.firstname}} {{rental.lector.lastname}}"></app-title-page>

    <!-- User View-->
    <mat-card>
        <mat-card-header class="card-header">
            <mat-card-title>{{rental.book.title}}</mat-card-title>
            <mat-card-subtitle  class="card-subtitle">
                {{rental.lector.firstname}} {{rental.lector.lastname}} |
                <mat-icon>arrow_back</mat-icon>{{rental.rentailDate | date:'dd/MM/YYYY'}} | 
                <mat-icon>arrow_forward</mat-icon>
                <span *ngIf="rental.returnDate; else hasReturnDate">{{rental.returnDate | date:'dd/MM/YYYY'}}</span>
                <ng-template #hasReturnDate>
                    en attente
                </ng-template>
            </mat-card-subtitle >
        </mat-card-header>

        <mat-divider></mat-divider>

        <mat-card-actions align="end" class="card-actions">  
            <a mat-raised-button *ngIf="!rental.returnDate" color="primary" (click)="openConfirmDialog(rental)" [disabled]="rental.returnDate != null">Retourner</a>
            <a mat-raised-button color="primary" routerLink="/rentals/edit/{{rental.id}}" [disabled]="rental.returnDate != null">Editer</a>
        </mat-card-actions>
    </mat-card>
</div>