<!-- Error card component -->
<app-error-card *ngIf="hasError"></app-error-card>

<!-- Search Component -->
<app-search (newSearchEvent)="searchBook($event)"></app-search>

<div class="header-list">
    <mat-chip><mat-icon matChipAvatar>library_books</mat-icon> {{ books.length }} livre(s)</mat-chip>
</div>

<mat-card>
    <mat-list role="list">
        <mat-list-item role="listitem" *ngFor="let b of books | search: searchText">
            <div *ngIf="b.noresult; else hasResult">{{b.noresult}}</div>
            <ng-template #hasResult>
                <div class="list-item">
                    <div>
                        <div>{{b.title}}</div>
                        <div class="subtitle">{{b.author.firstname}} {{b.author.lastname}} | {{b.domain.name}}</div>
                    </div>
                    
                    <div class="list-items-right">
                        <a mat-icon-button color="primary" routerLink="/rentals/add/{{b.id}}"><mat-icon>arrow_back</mat-icon></a>
                        <a mat-icon-button color="primary" routerLink="/books/view/{{b.id}}"><mat-icon>remove_red_eye</mat-icon></a>
                        <a mat-icon-button color="accent" routerLink="/books/edit/{{b.id}}"><mat-icon>edit</mat-icon></a>
                        <a mat-icon-button color="warn" (click)="openDialog(b)"><mat-icon>delete</mat-icon></a>
                    </div>
                </div>
            </ng-template>
        </mat-list-item>
    </mat-list>
</mat-card>
