h2 { 
    background-color: red; 
    color:white!important;
    line-height: inherit !important;
}
.mat-mdc-dialog-content p { margin:20px 0; }
.mat-mdc-dialog-content p::first-letter { text-transform: uppercase; }